* {
  margin: 0px;
  padding: 0px;
}
body{
  background-image: linear-gradient(135deg, black, rgb(120, 170, 255) ,black);
}

.container{
  display: grid;
  grid-template-columns: auto 50%;
  place-items: center;
  justify-content: space-around;
  justify-items: left;
  margin-top: 10%;
}


#img{
  height: 20rem;
  width: 20rem;
  margin-left: 45%;
  border-radius: 6.5rem;
}

#text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:justify;
  max-width: 70%; 
}

#text h1{
  font-size: 2rem;
}

#text p{
  padding-top: 1rem;
  font-size: 1.1rem;
}

.contateme{
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
}

.contateme textarea{
  padding: 0.3rem;
  margin-top: 0.5rem;
  background-color: rgb(120, 175, 182);
  border: 0;
  border-radius: 0.2rem;
  color: white;
  cursor:context-menu;
}

.contateme button{
  text-decoration: none;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  background-color: black;
  position: relative;
  cursor: pointer;
  border-color: white;
  border-radius: 0.5rem;
  color: white;
  transition: all 0.5s;
}

.contateme button:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgb(80, 80, 80));
  filter: drop-shadow(15px 10px 5px rgb(80, 80, 80)); 
}

.footer{
  display: grid;
  grid-template-columns: auto  auto;
  align-items: center;
  font-size: 0.7rem;
  background-color:rgb(150, 225, 225) ;
  width: 96%;
  height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer p{
  justify-self: end;
}

.footer img{
  width: 1.5rem;
  padding: 0.2rem;
  justify-self: start;
}
#main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  margin-top: 10%;
}

#card-container {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  border-radius: 10px;
}

#card, #card2, #card3, #card4 {
  width: 100%;
  height: 100%;
  color: white;
  transition: 1s;
  position: relative;
  border-radius: 10px;
  perspective: 1000px;
  transform-style: preserve-3d;
  font-family: calibri;
}

#front,
#back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  background: rgb(130, 10, 10);
}

#back {
  transform: rotateY(180deg);
}

#front::after,
#front::before,
#back::after,
#back::before {
  content: '';
  width: 100%;
  height: 350px;
  position: absolute;
}

#front::before,
#back::before {
  background: url("img/java.png");
  background-size: 200px 300px;
  background-repeat: no-repeat;
}

#front::after,
#back::after {
  height: 100%;
  right: -50%;
  top: -50%;
}

.type {
  color: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.details {
  position: relative;
  top: 25%;
  font-size: 13px;
  text-align: center;
  font-style: bold;
}

#card2 .details,#card3 .details{
  font-size: 11px;
}

#show-btn,
#hide-btn,
#show-btn2,
#hide-btn2,
#show-btn3,
#hide-btn3,
#show-btn4,
#hide-btn4{
  position: absolute;
  bottom: 5%;
  left: 30%;
  border: none;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: calibri;
  background: rgb(255, 255, 255);
}

.flipped {
  transform: rotateY(-180deg);
}

